:root {
  --green-dark: #47772D;
  --green-light: #ACC27A;
  --yellow: #DDE689;
  --brown: #6A4A3B;
  --brown-dark: #65542F;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

main section{
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.hero{
  text-align: center;
  padding: 80px 20px;
  background: #f6f6f6;
}

.hero h2{
  font-size: 2.2rem;
  margin-bottom: 20px;
}

h1, h2, h3 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  margin-bottom: 15px;
}

section h2,
section h3 {
  text-align: center;
}

section button {
  display: block;
  margin: 30px auto;
}

button {
  display: block;
  margin: 20px auto;
}

.btn-primary{
  background-color: var(--green-dark);
  border: none;
}

.btn-primary:hover{
  background-color: var(--green-light);
}

header {
  background-image: url("../../asset/img/banner/oiseaux.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  min-height: 120px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

header > .container {
  position: relative;
  z-index: 1;
}

/* Logo */
.navbar-brand img {
  width: 80px;
}

/* Couleur des liens du menu */
.navbar-nav .nav-link {
  color: #DDE689 !important;
  font-size: 1.1rem;
  font-weight: 500;
}

/* hover */
.navbar-nav .nav-link:hover {
  opacity: 0.8;
}

/* bouton burger */
.navbar-toggler {
  border-color: #DDE689;
}

/* icône burger */
.navbar-toggler-icon {
  filter: invert(89%) sepia(21%) saturate(370%) hue-rotate(25deg);
}

/* nom entreprise */
.navbar-brand {
  color: #DDE689 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

section img {
  max-height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card, .col-md-4 {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover, .col-md-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.bi-facebook{
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: #1877F2;
}

.bi-facebook:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

/* Téléphone*/

@media (max-width: 768px) {

  header .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }

  .logo {
    height: 50px;
  }
    header h1 {
    font-size: 1.4rem;
  }

  section {
    text-align: center;
  }

    nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .col-md-4 {
    margin-bottom: 20px;
  }
}